@media screen and (max-width: 1024px){
    .categoryItem {
        min-width: 120px;
        margin-right: 4.5rem;
    }
    div#bannerGroup {
        width: 37%;
    }
}


.share-link .share-main .share-main-all #qrcode{
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
}

