#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='首页')
            a(href="/") 首页
        .category-bar-item(id='JAVA')
            a(href="/categories/JAVA/") JAVA
        .category-bar-item(id='Python')
            a(href="/categories/Python/") Python
        .category-bar-item(id='hexo')
            a(href="/categories/hexo/") hexo
        .category-bar-item(id='个人日记')
            a(href="/categories/个人日记/") 个人日记
        .category-bar-item(id='人工智能')
            a(href="/categories/人工智能/") 人工智能
        .category-bar-item(id='算法实现')
            a(href="/categories/算法实现/") 算法实现
        .category-bar-item(id='计算机基础')
            a(href="/categories/计算机基础/") 计算机基础
    a.category-bar-more(href="/categories/") 更多
